<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
<body>
    <!-- Contenido base que se puede extender en otras plantillas, pagina comun para todas las plantillas -->
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/inventario">Inventario</a>
            </li>
            {% if user.is_authenticated %} <!-- Verifica si el usuario esta autenticado -->
            <li>
                <a href="/logout">Salir</a>
            </li>
            {% else %}
             <li>
                <a href="/signup">Registrarse</a>
            </li>
             <li>
                <a href="/signin">Iniciar Sesion</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %} <!-- Bloque de contenido que se sobresEscribe en las plantillas hijas -->

    {% endblock %}

</body>
</html>