{% extends 'base.html' %}

{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis soluta similique repudiandae fugiat explicabo placeat velit quas, consequatur maxime? Quia minima ullam sunt, perferendis doloremque voluptates corrupti maxime at incidunt accusantium harum quidem facere expedita iusto ipsa consectetur tenetur hic! Libero quae delectus nulla praesentium, atque suscipit molestias, nisi culpa quasi alias, vitae numquam repudiandae perferendis! Iste esse commodi ullam similique modi rem, dignissimos possimus voluptatum quo accusamus deserunt laboriosam animi, sit quidem eum distinctio optio, placeat laudantium at illo totam non. Veniam facilis, nemo eaque perspiciatis recusandae sit fugiat, exercitationem magni hic aliquam iure blanditiis id optio, vero labore.</p>
{% endblock %}